@model PaginatedList<YAOJ.Models.Problem>

@{
    ViewData["Title"] = "Problem Set";
}

<h2>Problem Set</h2>
<hr />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().ProblemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProblemID">
                        @Html.DisplayFor(modelItem => item.ProblemID)
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProblemID">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProblemID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProblemID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
